{% load static %}

<div class="jumbotron text-center" style="margin-bottom:0">
    <a href="#" class="text-primary"><span class="fab fa-discord"></span> Discord</a>
    <a href="#" class="text-primary"><span class="fab fa-facebook"></span> Facebook</a>
    <a href="#" class="text-primary"><span class="fab fa-github"></span> GitHub</a>
    <a href="#" class="text-primary"><span class="fab fa-linkedin"></span> LinkedIn</a>
    <a href="#" class="text-primary"><span class="fab fa-steam"></span> Steam</a>
    <a href="#" class="text-primary"><span class="fab fa-twitch"></span> Twitch</a>
    <a href="#" class="text-primary"><span class="fab fa-twitter"></span> Twitter</a>
    <a href="#" class="text-primary"><span class="fab fa-youtube"></span> YouTube</a>
    | <a href="#" class="text-primary">Privacy Policy</a>
    <div class="text-dark font-italic text-sm-center">
        Copyright &copy; {% now "Y" %} Brent Stephenson. All rights reserved.
    </div>
</div>
