<div class="jumbotron text-center" style="margin-bottom:0">
    <div class="btn-group">
        <a href="#" class="btn btn-secondary"><span class="fab fa-discord"></span> Discord</a>
        <a href="https://www.facebook.com/brent.stephenson1" class="btn btn-secondary"><span
                class="fab fa-facebook"></span>
            Facebook</a>
        <a href="https://github.com/RBStephenson" class="btn btn-secondary"><span class="fab fa-github"></span> GitHub</a>
        <a href="https://www.linkedin.com/in/rbrentstephenson/" class="btn btn-secondary"><span
                class="fab fa-linkedin"></span>
            LinkedIn</a>
        <a href="#" class="btn btn-secondary"><span class="fab fa-steam"></span> Steam</a>
        <a href="#" class="btn btn-secondary"><span class="fab fa-twitch"></span> Twitch</a>
        <a href="https://twitter.com/RBrentJunior" class="btn btn-secondary"><span class="fab fa-twitter"></span> Twitter</a>
        <a href="#" class="btn btn-secondary"><span class="fab fa-youtube"></span> YouTube</a>
        <a href="#" class="btn btn-secondary">Privacy Policy</a>
    </div>
    <div class="text-dark font-italic text-sm-center" style="margin-top: 10px; font-size: small;">
        Copyright &copy; {% now "Y" %} Brent Stephenson. All rights reserved.
    </div>
    <div class="text-dark text-sm-center" style="font-size: small">Bootstrap 4 Theme <a
            href="https://hackerthemes.com/bootstrap-themes/demo/daydream/" target="_blank">Daydream</a> is an open
        source theme provided by <span
                style="color: red; font-weight: bold">&lt;</span><strong>hacker</strong>themes<span
                style="color: red; font-weight: bold">&gt;</span>.
    </div>
</div>
