{% extends 'blog/__base.html' %}

{% block title %}Welcome to My Adventures In...{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>Learning (more) Django and (less) Python</h1>
            <p>The purpose of this has been to learn Django, bootstrap4, material, and Python, while sharing my
                (mis)adventures with the good folks of the interwebz. I hope that you might have learned a little
                something
                from my trials and tribulations. If you have, I'd love to hear about it.</p>
            <p>Oh, and a little on the title line... I'm seem to be learning more about Django and other web
                technologies than
                I am about Python with this exercise, and that's ok. The majority of the Python I am currently doing
                is
                for my "real" job doing back-end processing and other fairly
                mundane (but cool) tasks. I'd like to see myself not only learning about how far web development has
                advanced, but more Python as well.</p>
        </div>
        <div class="col-md-4">
            <h3>It's a side-bar!</h3>
            <p>I'm really just trying to fill space to see how things look. The page without content really wasn't
                working, so again, just filling space.</p>
            <p>Also, I'd like to look at the <a href="https://github.com/viewflow/django-material" target="_blank">django-matierial</a>
                project a little more and compare it to Bootstrap 4. </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h1>Rambling about Diversity and Inclusion in Tech</h1>
            <p>One of the things I'd like to do here is to create a safe place for developers (new, old, and those
                that want
                to be) to chat, share ideas, trials, success stories, anything really. We were all code newbies at
                one point.
            <p>I firmly believe that we should all have the same opportunities regardless of the gender we
                identify
                with, the color of our skin, our religion, or, for those fortunate enough, if we are a healthy person in
                recovery. It does not and should not matter and should never be a deciding factor in our pursuit of
                success in tech (or life)! We love technology and programming the same, so why should anything separate
                us?</p>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Wow! A Card!
                </div>
                <div class="card-body">
                    <p class="card-text">While I was trying to figure out the container and row thing (adding a second
                        row). I decided to look at cards too.</p>
                    <p>Not only can I add a second row, but I can also add a card! Bootstrap has some cool features!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}