{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
{% include 'material_blog/_header.html' %}
{% include 'material_blog/_navigation.html' %}
{% block content %}
{% endblock %}
{% include 'material_blog/_footer.html' %}
</body>
</html>